.response {
  background-color: rgb(109, 109, 109);
  width: 400px;
  height: 150px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 50px 60px;
}

.response-error {
  color: rgb(255, 23, 23);
}

.response-success {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.response-title {
  color: rgb(7, 226, 7);
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.response-item {
  font-size: 16px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}
